/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#pitch-container-container {
	border: 1px double;
	margin-top: 7px;
  background-color: #C6E1DE;
	padding: 2px;
}


#pitch-container {
	border: 1px dotted;
	margin-top: 7px;
  background-color: #02161A;
  opacity: .9;
  color: white;
	padding: 5px;
}

#pitch-container h3 {
	margin: 0;
	padding: 0;
}

#pitch-container p  {
	margin: 0;
	padding: 0;
}

#henridoingcss {
	background: #F5F1F0;
}

#round-one-voting-css {
	border: 1px dotted;
	margin-top: 7px;
  background-color: yellow;
	padding: 5px;
}

#header-css {
	background: #C9EBF1;
	padding-bottom: 4px;
	border: double;
	padding-left: 3px;
}

#pitch-submit-body-css {
	margin-top: 5px;
	margin-bottom: 5px;
  width: 36%;
  height: 70px;
}